/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------

# STRUCTURE AND LAYOUT
# HEADER
	## Header main logo
	## Sticky Header
# NAVIGATION
	## Main navigation
	## Header one - Left logo & Right Navbar
	## Header two - Bottom Navbar
	## Header three - Bottom Navbar Centered
	## Header four - Top Navbar Centered
	## Header Five - Centered Inline Logo
	## Header Six - Verticle
# MOBILE MENU	
	## Mobile Menu Icon Button
# SEARCH
# WIDGETS
# PAGE TITLE
# ADDON ELEMENTS
	## Social Sharing
	## Lean Modal
--------------------------------------------------------------*/

/*-------------------------------------------------------------- 
 # STRUCTURE AND LAYOUT
--------------------------------------------------------------*/
#page { overflow: hidden; }
/* Layout & Widths > Left Sidebar */
body.left-sidebar .wrapper .content-area { float: right }
body.left-sidebar .wrapper .widget-area { float: left }

/* Layout & Widths > Full-Width & Full-Screen */
body.full-width .wrapper .content-area,
.full-width .content-area { width: 100% !important; max-width: none !important; }
body.full-screen #content,
.full-screen #content,
body.full-screen .wrapper .content-area { float: none; width: 100% !important; max-width: none !important; }

/*--------------------------------------------------------------
# HEADER
--------------------------------------------------------------*/
#site-header { padding: 0 !important; } /* no padding should be added here, add to header-inner please*/
#site-header-inner { 
	position: relative; 
	padding-top: 30px; 
	padding-bottom: 30px; 
	height: 100%; 
}

/*--------------------------------------------------------------
## Header main logo
--------------------------------------------------------------*/
#site-logo { display: table; }
#site-logo-inner { display: table-cell; vertical-align: middle; }
#site-logo a { height: 100%; padding: 0; margin: 0; text-decoration: none; }
#site-logo a.site-logo-text { color: #222; font-size: 24px; font-weight: bold; }
#site-logo-fa-icon { margin-right: 10px; }
#site-logo-fa-icon.fa-wpsp-hidden { margin-right: 0; }
#site-logo a:hover { text-decoration: none }
#site-logo img { display: inline; vertical-align: middle; height: auto; width: auto; max-height: 100%; max-width: 100%; }

/* Header > Main > Full-Width */
@media only screen and (min-width: 960px) {
	#site-header.wpsp-full-width .container { width: 100% !important; max-width: none !important; }
	#site-header.wpsp-full-width > .container { padding-left: 30px; }
	#site-header.wpsp-full-width .navbar-style-one { right: 30px }
	#site-header.wpsp-full-width.header-one #searchform-dropdown,
	#site-header.wpsp-full-width.header-one #current-shop-items-dropdown { right: 30px; }
	#site-header.wpsp-full-width .header-two-aside { margin-right: 30px; }
}

/*--------------------------------------------------------------
## Sticky Header
--------------------------------------------------------------*/
#site-header-sticky-wrapper.is-sticky #site-header { position: fixed; overflow: visible !important; z-index: 999; background: #fff; box-shadow: 0px 2px 5px rgba(0,0,0,0.1); }
#site-header-sticky-wrapper.is-sticky #site-header-inner { z-index: 999; }

/* Sticky Header > Shrink */
#site-header.shrink-sticky-header { width: 100%; transition: opacity 0.3s; }
#site-header.shrink-sticky-header.sticky-header-shrunk #site-logo { padding-top: 0; padding-bottom: 0; }

/* shrink with animation*/
.anim-shrink-header #site-header-sticky-wrapper,
.anim-shrink-header #site-header,
.anim-shrink-header #site-header-inner,
.anim-shrink-header .navbar-style-five,
.anim-shrink-header .navbar-style-five #site-navigation,
.anim-shrink-header #site-logo,
.anim-shrink-header #site-logo-inner,
.anim-shrink-header #site-logo a,
.anim-shrink-header #site-logo img { transition: all 0.3s linear; }
.anim-shrink-header #site-logo img { max-height: none; backface-visibility: hidden; transform: translate3d(0, 0, 0); }
.anim-shrink-header #site-navigation-wrap { transition: top 0.3s linear; }

.sticky-header-shrunk #site-header-inner { height: 70px; padding-top: 10px !important; padding-bottom: 10px !important; }
.shrink-sticky-header.sticky-header-shrunk .navbar-style-five .dropdown-menu > li > a,
.shrink-sticky-header.sticky-header-shrunk #site-logo img { height: 50px; }


/*--------------------------------------------------------------
# NAVIGATION
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Superfish + Core menu
--------------------------------------------------------------*/
.sf-menu,
.sf-menu * { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
}
.sf-menu li { 
	position: relative 
}
.sf-menu ul { 
	position: absolute; 
	display: none; 
	top: 100%; 
	left: 0; 
	z-index: 10001; 
}
.sf-menu > li { float: left; }
.sf-menu li:hover > ul,
.sf-menu li.sfHover > ul { display: block; }
.sf-menu a { 
	display: block; 
	position: relative; 
}
.sf-menu ul ul { 
	top: 0; 
	left: 100%; 
}
.sf-menu { float: left }
.sf-menu ul { 
	min-width: 140px; 
	*width: 140px; 
}
.sf-menu a { zoom: 1 }
.sf-menu li { 
	position: relative; 
	white-space: nowrap; 
	*white-space: normal; 
}
.sf-menu li:hover,
.sf-menu li.sfHover { transition: none }
.sf-menu .sf-mega { 
	position: absolute; 
	display: none; 
	top: 100%; 
	left: 0; 
	z-index: 99; 
}
.sf-menu li:hover > .sf-mega,
.sf-menu li.sfHover > .sf-mega { display: block }
.sf-menu ul img { 
	display: block; 
	float: none; 
	max-width: 100%; 
}

/*--------------------------------------------------------------
## Main navigation
--------------------------------------------------------------*/
#site-navigation.container { position: relative; }
#site-navigation a { text-decoration: none }
#site-navigation .wpsp-dropdown-menu li a .fa { margin-right: 8px }
#site-navigation .wpsp-dropdown-menu li.no-icon-margin a .fa { margin-right: 0 }
#site-navigation .wpsp-dropdown-menu .site-search-toggle .fa { margin: 0 }
.menu-button.menu-button-rounded span.link-inner { border-radius: 40px !important }

/* Menu > Main > Arrows */
#site-navigation .wpsp-dropdown-menu li a .nav-arrow { 
	margin-left: 4px; 
	margin-right: 0; 
}
#site-navigation .wpsp-dropdown-menu ul a.sf-with-ul { padding-right: 25px }
#site-navigation .sf-menu > li ul li .nav-arrow { 
	position: absolute; 
	top: 50%; 
	right: 10px; 
	height: 10px; 
	line-height: 10px; 
	margin-top: -5px; 
}

/* Menu > Main > Dropdowns */
#site-navigation .wpsp-dropdown-menu ul { 
	background: #fff; 
	border: 1px solid #eee; 
}
#site-navigation .wpsp-dropdown-menu ul ul { 
	margin-left: 0; 
	text-align: left; 
}
#site-navigation .wpsp-dropdown-menu ul li:first-child ul { margin-top: 0 }
#site-navigation .wpsp-dropdown-menu ul li { padding: 0 }
#site-navigation .wpsp-dropdown-menu ul a { 
	display: block; 
	float: none; 
	padding: 8px 12px; 
	height: auto; 
	margin: 0px; 
	border: 0px; 
	line-height: 1.4em; 
	color: #666; 
	font-size: 0.923em; 
	border-bottom: 1px solid #eee; 
}
#site-navigation .wpsp-dropdown-menu ul li:last-child > a { border-bottom: none }
#site-navigation .wpsp-dropdown-menu ul a:hover { background: #f7f7f7 }

/* Menu > Main > Left Dropdowns */
#site-navigation .wpsp-dropdown-menu li.left-dropdowns ul ul { 
	left: auto; 
	right: 100%; 
}
body #site-navigation .sf-menu li.left-dropdowns ul a.sf-with-ul { 
	padding-left: 25px; 
	padding-right: 12px; 
}
#site-navigation .wpsp-dropdown-menu li.left-dropdowns ul .fa-angle-right { 
	left: 9px; 
	right: auto; 
}
#site-navigation .wpsp-dropdown-menu li.left-dropdowns ul .fa-angle-right:before { content: "\f104" }

/* Reset .menu-item from Boostrap */
#site-navigation .wpsp-dropdown-menu ul.sub-menu li.menu-item { float: none; display:block; }

/* Menu > Main > Animate Links */
#site-navigation .wpsp-dropdown-menu > li > a > span.link-inner { 
	transition: background 0.15s ease-in-out, color 0.15s ease-in-out; 
	-moz-transition: background 0.15s ease-in-out, color 0.15s ease-in-out; 
	-webkit-transition: background 0.15s ease-in-out, color 0.15s ease-in-out; 
}
#site-navigation .wpsp-dropdown-menu ul a { 
	transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out; 
	-webkit-transition: all 0.15s ease-in-out; 
}

@media only screen and (min-width: 992px) {
	#site-navigation { display: block; }
}

/*--------------------------------------------------------------
## Header one - Left logo & Right Navbar
--------------------------------------------------------------*/
.header-one #site-logo { 
	float: left; 
	height: 100%; 
}

/* Header > One > Navbar */
.navbar-style-one { 
	position: absolute; 
	right: -12px; 
	top: 50%; 
	margin-top: -25px; 
	height: 50px; 
}
body.navbar-has-inner-span-bg .navbar-style-one { right: -4px; }
.navbar-style-one .wpsp-dropdown-menu > li:last-child.menu-button { margin-right: 12px; }
.navbar-style-one .wpsp-dropdown-menu > li > a { 
	display: block; 
	height: 50px; 
	line-height: 50px; 
	padding: 0 4px; 
	color: #555; 
}
.navbar-style-one .wpsp-dropdown-menu > li > a > span.link-inner { 
	display: inline-block; 
	line-height: 1; 
	padding: 0.5em 0.8em; 
	border-radius: 3px; 
}

/*--------------------------------------------------------------
## Header two - Bottom Navbar
--------------------------------------------------------------*/
.header-two { background: #fff }
.header-two-aside { 
	float: right; 
	font-size: 1.077em; 
	text-align: right; 
}

/* Header > Two > Logo */
.header-two-logo { float: left }

/* Header > Two > Search */
#header-two-search { margin-top: 10px }
#header-two-search { float: right }
#header-two-search input#header-two-search-input { 
	font-size: 0.923em; 
	width: 160px; 
	float: left; 
	border: 1px solid #ddd; 
	height: 32px; 
	padding: 0 10px; 
	border: 1px solid #e4e4e4; 
	background: #f7f7f7; 
}
#header-two-search-submit { 
	height: 32px; 
	line-height: 32px; 
	width: 35px; 
	text-align: center; 
	padding: 0; 
	outline: none; 
	margin-left: 5px; 
	cursor: pointer; 
	font-size: 12px; 
}

/* Header > Two > Navbar */
.navbar-style-two { background: #fff; }
.navbar-style-two .wpsp-dropdown-menu { width: 100%; }
.navbar-style-two { 
	border-top: 1px solid #eee; 
	border-bottom: 1px solid #eee; 
	position: relative; 
}
body.page-header-disabled .navbar-style-two { border-bottom: 1px solid #eee; }
.navbar-style-two .wpsp-dropdown-menu { 
	border-left: 1px solid #eee; 
	border-right: 1px solid #eee; 
}
.navbar-style-two .wpsp-dropdown-menu li { border-right: 1px solid #eee; }
.navbar-style-two .wpsp-dropdown-menu li li { border-right: 0; }
.navbar-style-two .wpsp-dropdown-menu > li > a { 
	display: block; 
	height: 50px; 
	line-height: 50px; 
	color: #555; 
	font-weight: normal; 
	padding: 0 20px; 
}
.navbar-style-two .wpsp-dropdown-menu .woo-menu-icon,
.navbar-style-two .wpsp-dropdown-menu .search-toggle-li { 
	float: right; 
	border-left: 1px solid #eee; 
	border-right: 0; 
}

/*--------------------------------------------------------------
## Header three - Bottom Navbar Centered
--------------------------------------------------------------*/
.header-three-logo { 
	float: none; 
	text-align: center; 
	margin: 0 auto; 
}
.header-three-logo a { 
	display: inline; 
	display: inline-block; 
	float: none; 
}
.header-three-aside { 
	float: none; 
	text-align: center; 
	width: 100%; 
	margin-top: 10px; 
}
.navbar-style-three { 
	background: #fff; 
	border-top: 1px solid #eee; 
	position: relative; 
}
body.page-header-disabled .navbar-style-three { border-bottom: 1px solid #eee; }
.navbar-style-three .container { position: relative; }
.navbar-style-three .sf-menu { text-align: center; float: none; }
.navbar-style-three .wpsp-dropdown-menu > li { display: inline-block; float: none; }
.navbar-style-three .wpsp-dropdown-menu > li > a { 
	display: block; 
	height: 50px; 
	line-height: 50px; 
	color: #555; 
	font-weight: normal; 
	padding: 0 5px; 
}
.navbar-style-three .wpsp-dropdown-menu > li > a > span.link-inner { 
	display: inline-block; 
	line-height: 1; 
	padding: 0.5em 0.8em; 
	border-radius: 3px; 
}
.navbar-style-three .wpsp-dropdown-menu ul { text-align: left }

/*--------------------------------------------------------------
## Header four - Top Navbar Centered
--------------------------------------------------------------*/
.header-four-logo { 
	float: none; 
	text-align: center; 
	margin: 0 auto; 
}
.header-four-logo a { 
	display: inline-block; 
	float: none; 
}
.header-four-aside { 
	float: none; 
	text-align: center; 
	width: 100%; 
	margin-top: 10px; 
}
.navbar-style-four { 
	background: #fff; 
	position: relative; 
	border-bottom: 1px solid #eee; 
}
.navbar-style-four .container { position: relative; }
.navbar-style-four .sf-menu { 
	text-align: center; 
	float: none; 
}
.navbar-style-four .wpsp-dropdown-menu > li { 
	display: inline-block; 
	float: none; 
}
.navbar-style-four .wpsp-dropdown-menu > li > a { 
	display: block; 
	height: 50px; 
	line-height: 50px; 
	color: #555; 
	font-weight: normal; 
	padding: 0 15px; 
}
.navbar-style-four .wpsp-dropdown-menu ul { text-align: left; }

/*--------------------------------------------------------------
## Header Five - Centered Inline Logo
--------------------------------------------------------------*/
#site-logo.header-five-logo { 
	display: none; 
	float: none; 
	margin: 0; 
	padding: 0; 
	transition: all 0.3s; 
}
#site-logo.header-five-logo.display { display: table; }
.menu-item-logo { padding: 0 40px; }
#site-navigation-wrap.navbar-style-five,
.navbar-style-five #site-navigation { height: 100%; }
.navbar-style-five .container { position: relative; }
.navbar-style-five .wpsp-dropdown-menu { 
	text-align: center; 
	float: none; 
	display: table; 
	height: 100%; 
	margin: 0 auto; 
}
.navbar-style-five .wpsp-dropdown-menu > li { 
	height: 100%; 
	display: table-cell; 
	vertical-align: middle; 
	float: none; 
}
.navbar-style-five .wpsp-dropdown-menu > li > a { 
	display: block; 
	height: 50px; 
	line-height: 50px; 
	color: #555; 
	font-weight: normal; 
	padding: 0 4px; 
}
.navbar-style-five .wpsp-dropdown-menu ul { text-align: left }
.navbar-style-five .wpsp-dropdown-menu > li > a > span.link-inner { 
	display: inline-block; 
	line-height: 1; 
	padding: 0.5em 0.8em; 
	border-radius: 3px; 
}

/*--------------------------------------------------------------
## Header Six - Verticle
--------------------------------------------------------------*/
@media only screen and ( min-width: 960px ) {

	/* Header Vertical > Main */
	body.wpsp-has-vertical-header { position: relative; }
	body.wpsp-has-vertical-header #page { padding-left: 280px; }
	body.wpsp-has-vertical-header #site-header { background: #fff; position: absolute; z-index: 99; top: 0; left: 0; width: 280px; height: 100%; box-shadow: 0 0 7px rgba(0,0,0,0.1); }
	body.wpsp-fixed-vertical-header #site-header { position: fixed; overflow: visible; }
	body.wpsp-has-vertical-header #site-header .container { width: 100%; max-width: 100%; }

	/* Boxed Layout */
	body.boxed-main-layout.wpsp-has-vertical-header #page { padding-left: 280px; }
	body.wpsp-has-vertical-header.boxed-main-layout.wpsp-site-header-disabled #page { padding-left: 0; }
	body.boxed-main-layout.wpsp-has-vertical-header #site-header .container { padding-left: 0 !important; padding-right: 0 !important; }

	/* Header Vertical > Logo */
	body.wpsp-has-vertical-header #site-logo { display: block; padding: 0 30px 30px 30px; }
	body.wpsp-has-vertical-header #site-logo-inner { display: block; }
	body.wpsp-has-vertical-header #site-logo img { display: block; margin: 0 auto; }

	/* Header Vertical > Navbar */
	.navbar-style-six #site-navigation { border-top: 1px solid #eee; }
	.navbar-style-six .wpsp-dropdown-menu > li { display: block; width: 100%; height: auto; border-bottom: 1px solid #eee; }
	.navbar-style-six .wpsp-dropdown-menu > li > a { display: block; color: #555; font-weight: normal; padding: 1em 30px; }
	.navbar-style-six .wpsp-dropdown-menu > li.menu-item-has-children > a { padding-right: 50px; }
	.navbar-style-six .wpsp-dropdown-menu a:hover { background: #f9f9f9; }
	.navbar-style-six .wpsp-dropdown-menu > .current-menu-item > a,
	.navbar-style-six .wpsp-dropdown-menu > .current-menu-parent > a { background: #4a97c2; color: #fff !important; transition: all 0.3s ease-in-out; }
	.navbar-style-six .wpsp-dropdown-menu > li > a > span.link-inner { display: block; padding: 0; transition: none; }
	.navbar-style-six .wpsp-dropdown-menu .nav-arrow.top-level { position: absolute; right: 28px; top: 50%; height: 20px; line-height: 20px; margin-top: -10px; font-size: 11px; opacity: 0.4; }
	body.wpsp-has-vertical-header .wpsp-menu-search-text { display: inline-block; padding-left: 20px; }

	/* Header Vertical > Navbar > Dropdowns */
	body.wpsp-has-vertical-header #site-navigation .sf-menu ul { top: 0; left: 100%; text-align: left }
	body.wpsp-has-vertical-header #site-navigation .sf-menu ul a { padding: 1em 20px; }

	/* Header Vertical > Navbar > Megamenu */
	body.wpsp-has-vertical-header #site-navigation .wpsp-dropdown-menu li.megamenu { position: relative; }
	body.wpsp-has-vertical-header #site-navigation .wpsp-dropdown-menu li.megamenu ul { left: 100%; width: 750px }

	/* Header Vertical > Title */
	body.wpsp-has-vertical-header .page-header { border-top: 0; }

}


/*-------------------------------------------------------------- 
 # PAGE TITLE
--------------------------------------------------------------*/

/* Page Header > Main */
.page-header { margin: 0 0 40px; padding: 20px 0; position: relative; background-color: #f7f7f7; border-top: 1px solid #eee; border-bottom: 1px solid #eee; }
.no-header-margin .page-header { margin-bottom: 0 }
.page-header .container { position: relative }
.page-header-title { display: block; font-size: 21px; line-height: 1.4em; font-weight: normal; font-weight: 400; margin: 0px; color: #000; }
body.breadcrumbs-position-default .page-header-title { max-width: 70% }
.page-subheading { font-size: 1.077em; margin: 0; color: #999; }
.page-subheading p:last-child { margin: 0 }
.centered-page-header .page-header-title,
.centered-minimal-page-header .page-header-title { max-width: 100% !important }

/* Page Header > Centered */
.centered-page-header { text-align: center; padding: 30px 0; }
.centered-page-header .page-header-title { font-size: 32px }
.centered-page-header .page-subheading { font-size: 1.385em; font-weight: 300; }

/* Page Header > Minimal Centered */
.centered-minimal-page-header { text-align: center; padding: 30px 0; background: #fff; border-color: #eee; }
.centered-minimal-page-header .page-header-title { font-size: 32px }
.centered-minimal-page-header .page-subheading { font-size: 1.385em; font-weight: 300; }

/* Page Header > Solid Color */
.solid-color-page-header .page-header-title { color: #fff !important }
.solid-color-page-header .site-breadcrumbs,
.solid-color-page-header .site-breadcrumbs a { color: #fff !important }
.solid-color-page-header .page-subheading { color: #fff }

/* Page Header > Archive Description */
.archive-description { margin-bottom: 30px }

/* Page Header > Background Image */
.background-image-page-header { width: 100%; border: none; background: #000; }
.page-header-table { display: table; width: 100%; height: 400px; }
.page-header-table-cell { display: table-cell; vertical-align: middle; text-align: center; padding: 0 30px; }
.page-header.background-image-page-header .page-header-title { position: relative; z-index: 2; color: #fff; max-width: 100%; font-size: 3.231em; font-weight: 400; max-width: 100% !important; }
.page-header.background-image-page-header .page-subheading { position: relative; z-index: 2; color: #fff; font-size: 1.846em; font-weight: 300; }
.background-image-page-header-overlay { display: block; position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #000; z-index: 1; opacity: 0.5; }
.background-image-page-header-overlay.style-dotted { background: rgba(0,0,0,0.3) url(images/dotted-overlay.png) repeat }
.background-image-page-header-overlay.style-dashed { background: rgba(0,0,0,0.3) url(images/dashed-overlay.png) repeat }

/*--------------------------------------------------------------
# MOBILE MENU
--------------------------------------------------------------*/

/*--------------------------------------------------------------
## Mobile Menu Toggles Icon Button
--------------------------------------------------------------*/
#mobile-menu { height: 40px; position: absolute; right: 4%; top: 50%; margin-top: -20px; }
#mobile-menu a { display: block; float: left; color: #666; font-size: 18px; height: 40px; width: 40px; line-height: 40px; border: 1px solid #eee; border-radius: 3px; text-align: center; margin-left: 10px; background: #f7f7f7; transition: all .15s ease-in-out; }
#mobile-menu a:first-child { margin-left: 0 }
#mobile-menu a:hover { text-decoration: none; background: #f1f1f1; color: #333; }

/* Mobile Menu Toggles Icon Button(s) > Under Logo */
.wpsp-mobile-toggle-menu-icon_buttons_under_logo #site-header #site-logo { float: none !important; display: block; text-align: center; width: 100%; max-width: none; }
.wpsp-mobile-toggle-menu-icon_buttons_under_logo #site-logo-inner { display: block; }
.wpsp-mobile-toggle-menu-icon_buttons_under_logo #site-header #site-logo img { display: inline; float: none; }
.wpsp-mobile-toggle-menu-icon_buttons_under_logo #mobile-menu { position: relative; top: auto; right: auto !important; left: auto !important; margin: 0; float: none; text-align: center; padding-top: 20px; height: auto; }
.wpsp-mobile-toggle-menu-icon_buttons_under_logo #mobile-menu a { display: inline-block; float: none; }

/* Mobile Menu Toggles Icon Button(s) > Navbar */
#wpsp-mobile-menu-navbar { background: #262626; color: #fff; height: 50px; line-height: 50px; font-size: 14px; }
#wpsp-mobile-menu-navbar a { display: block; color: #fff; }
#wpsp-mobile-menu-navbar a:hover { text-decoration: none; }
#wpsp-mobile-menu-navbar a .fa { margin-right: 10px; }

/* Mobile Menu Toggles > Fixed Top */
#wpsp-mobile-menu-fixed-top { background: #222; position: fixed; top: 0; left: 0; width: 100%; z-index: 99; }
/*body.has-overlay-header #wpsp-mobile-menu-fixed-top { top: auto; bottom: 0; }*/
#wpsp-mobile-menu-fixed-top .mobile-menu-toggle { display: block; width: 100%; height: 50px; line-height: 50px; color: #fff; font-size: 18px; text-decoration: none; }
#wpsp-mobile-menu-fixed-top .mobile-menu-toggle .fa { margin-right: 10px; }

/*--------------------------------------------------------------
# SEARCH
--------------------------------------------------------------*/
#searchform-dropdown { position: relative }

#searchform-dropdown .searchform-submit { 
	position: absolute; 
	top: 50%; 
	right: 15px; 
	height: 20px; 
	line-height: 20px; 
	margin: -10px 0 0; 
	background: none; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	color: #000; 
	font-size: 11px; 
	opacity: 0.5; 
}

/* Header search dropdown */
#searchform-dropdown { z-index: 10000; position: absolute; right: 0; background: #fff; top: 100%; padding: 15px; width: 260px; border-top: 3px solid transparent; box-shadow: 0 2px 7px rgba(0,0,0,0.1); visibility: hidden; opacity: 0; transition: all 0.25s ease-in-out; }
#searchform-dropdown input { display: block; outline: none; border: none; width: 100%; background: #f4f4f4; -webkit-appearance: none; border-radius: 0; }
#searchform-dropdown button { display: none; }

/* Header search overlay - modal*/
#searchform-overlay { display: none; width: 350px; top: 120px; -webkit-transform: scale(0.5); -moz-transform: scale(0.5); -ms-transform: scale(0.5); transform: scale(0.5); -webkit-transition: transform 0.4s; -moz-transition: transform 0.4s; transition: transform 0.4s; }
#searchform-overlay.active { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
#searchform-overlay-title { font-size: 2.154em; margin: 0 0 20px; font-weight: 400; color: #fff; text-align: center; text-transform: capitalize; }
#searchform-overlay input { font-size: 1.077em; padding-left: 20px; height: 45px; color: #000; font-weight: 400; box-shadow: 0 0 4px rgba(0,0,0,0.7); }
#searchform-overlay button { height: 45px; }

/* Header search replace*/
#searchform-header-replace { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background: #fff; visibility: hidden; opacity: 0; transition: all 0.25s ease-in-out; }
#searchform-header-replace form { height: 100%; width: 100%; }
#searchform-header-replace input { height: 100%; width: 100%; outline: 0; border: 0; -webkit-appearance: none; border-radius: 0; -moz-border-radius: none; -webkit-border-radius: none; font-size: 32px; text-transform: uppercase; color: #bbb; background: none; }
#searchform-header-replace-close { position: absolute; right: 0; top: 50%; margin-top: -20px; height: 40px; line-height: 40px; font-size: 26px; color: #bbb; cursor: pointer; }
#searchform-header-replace-close:hover { color: #000 }

/*display search on click*/
#searchform-dropdown.show,
#searchform-header-replace.show { visibility: visible; opacity: 1; }

/*--------------------------------------------------------------
# WIDGETS
--------------------------------------------------------------*/
.widget {
	margin: 0 0 30px;
}

.widget .widget-title { 
	display: block; 
	font-size: 1.143em; 
	line-height: 1.5; 
	font-weight: 600; 
	color: #000; 
}

/* Make sure select elements fit in widgets. */
.widget select {
	width: 100%;
}

/* Widgets list item */
.widget ul { 
	list-style: none; 
	margin: 0; 
	padding: 0;
}
.widget ul.children {
	margin-left: 20px;
}

/* Widgets list item > Borders */
.widget_categories li,
.widget_recent_entries li,
.widget_archive li,
.widget_recent_comments li,
.widget_pages li,
.site-footer .widget_nav_menu li { 
	padding: 6px 0; 
	border-bottom: 1px solid #eee; 
}

.widget_categories li:first-child,
.widget_recent_entries li:first-child,
.widget_archive li:first-child,
.widget_recent_comments li:first-child,
.widget_pages li:first-child,
.site-footer .widget_nav_menu li:first-child { border-top: 1px solid #eee }

.widget ul.children li:last-child { border-bottom: none; }

/* Widgets > Custom Menu */
.widget_nav_menu .sub-menu { display: none }
.widget_nav_menu ul { margin: 0 }
.widget_nav_menu ul li.menu-item { float: none; }
.widget_nav_menu ul ul { 
	margin: 0; 
	border: none; 
	border-radius: 0; 
}
.widget_nav_menu ul > li:first-child > a { border-top: 1px solid #eee }
.widget_nav_menu li ul li:first-child a { border-top: none }
.widget_nav_menu a { 
	position: relative; 
	font-weight: normal; 
	display: block; 
	padding: 9px 15px; 
	border: 1px solid #eee; 
	border-top: none; 
	color: #777; 
	cursor: pointer; 
}
.widget_nav_menu a .fa { margin-right: 10px }
.widget_nav_menu .menu-item-has-children > a { padding-right: 30px }
.widget_nav_menu ul ul li a { padding-left: 20px }
.widget_nav_menu ul ul ul li a { padding-left: 30px }
.widget_nav_menu .sub-menu a:before { content: "-"; margin-right: 10px; }
.widget_nav_menu .sub-menu .sub-menu a:before { 
	content: "- -"; 
	margin-right: 10px; 
}
.widget_nav_menu a:hover,
.widget_nav_menu li.active > a { 
	background-color: #f9f9f9; 
	text-decoration: none; 
}
.widget_nav_menu .parent > a:after { 
	font-family: 'FontAwesome'; 
	display: block; 
	content: "\f0d7"; 
	position: absolute; 
	right: 15px; 
	top: 50%; 
	font-size: 1.077em; 
	height: 20px; 
	line-height: 20px; 
	margin-top: -10px; 
	color: #ddd; 
}
.widget_nav_menu .parent.active > a:after { content: "\f0d8" }
.widget_nav_menu .current_page_item > a,
.widget_nav_menu .current-menu-item > a { background: #f7f7f7 }
.widget_nav_menu .current_page_item > .sub-menu,
.widget_nav_menu .current-menu-item > .sub-menu { display: block; }

/* Widgets > Calendar */
.widget_calendar table { width: 100%; font-size: 0.846em; }
.widget_calendar thead th { background: #f5f5f5; border: 1px solid #ddd; font-size: 0.846em; }
.widget_calendar tbody td { text-align: center; border: 1px solid #ddd; line-height: 2.5em; transition: background 0.15s ease; -webkit-transition: background 0.15s ease; -o-transition: background 0.15s ease; -moz-transition: background 0.15s ease; }
.widget_calendar tbody td:hover { background: #f1f1f1; color: #333; }
.widget_calendar tbody td a { display: block; text-decoration: none; background: #f1f1f1; color: #333; }
.widget_calendar tbody td:hover a { background: #4d4d4d; color: #fff; }
.widget_calendar tfoot td { padding-top: 1px; padding: 4px; color: #a7a7a7; }
.widget_calendar caption { cursor: pointer; font-size: 13px; text-transform: uppercase; margin: 0; padding: 12px; outline: 0 none !important; color: #a7a7a7; text-align: center; }
.widget_calendar tbody a { display: block; text-decoration: underline; }
.widget_calendar th { text-align: center; border: 1px solid transparent; border-top: none; padding: 7px 0; color: #a7a7a7; }
#footer .widget_calendar thead th { background: #222 }
#footer .widget_calendar tbody td { border-color: #222 }

/* Widgets > Categories */
.widget_categories li { position: relative }
.widget_categories li ul { margin: 0 0 0 20px }
.widget_categories li ul li:first-child { border-top: 1px solid #eee; margin-top: 4px; }
.widget_categories li ul li:last-child { border-bottom: none; padding-bottom: 0; }
.widget_categories .cat-count-span { color: #999; font-size: 0.846em; }

/* Widgets > Recent Posts w/ Icons */
.sidebar-widget-icons .widget_archive a:before,
.sidebar-widget-icons .widget_recent_entries a:before,
.sidebar-widget-icons .widget_recent_comments a:first-child:before,
.sidebar-widget-icons .widget_layered_nav a:before,
.sidebar-widget-icons .widget_product_categories a:before,
.sidebar-widget-icons .widget_categories a:before,
.sidebar-widget-icons .widget_pages a:before,
.sidebar-widget-icons .widget_meta a:before { margin-right: 10px; font-family: "FontAwesome"; color: #999; display: inline-block; }
.sidebar-widget-icons .widget_archive a:before { content: "\f016" }
.sidebar-widget-icons .widget_recent_entries a:before { content: "\f0f6" }
.sidebar-widget-icons .widget_recent_comments a:first-child:before { content: "\f0e5" }
.sidebar-widget-icons .widget_layered_nav a:before { content: "\f0da" }
.sidebar-widget-icons .widget_product_categories a:before { content: "\f0da" }
.sidebar-widget-icons .widget_categories a:before { content: "\f114" }
.sidebar-widget-icons .widget_pages a:before { content: "\f105 " }
.sidebar-widget-icons .widget_meta a:before { content: "\f178 " }

/*-------------------------------------------------------------- 
 # ADDON ELEMENTS
--------------------------------------------------------------*/

/*-------------------------------------------------------------- 
 ## Social Sharing
--------------------------------------------------------------*/

/* Social Sharing > Core */
ul.wpsp-social-share { list-style: none }
.social-share-button-text { font-size: 13px }

/* Dont use em here !! */
.wpsp-social-share li,
.wpsp-social-share a { display: block; text-decoration: none; }
.wpsp-social-share a:hover { text-decoration: none }

/* Social Sharing > Add margin when needed */
.single-portfolio.no-composer .social-share-wrap.position-horizontal { margin: 40px 0 0 }

/* Social Sharing > Vertical */
.social-share-wrap.position-vertical .social-share-title { display: none }
.wpsp-social-share.position-vertical { position: absolute; top: 40px; left: -55px; z-index: 9; width: 35px; list-style: none; margin: 0; }
.left-sidebar .wpsp-social-share.position-vertical { right: -55px; left: auto; }
.wpsp-social-share.position-vertical li { float: left }
.wpsp-social-share.position-vertical li:first-child { border-top: 1px solid #e4e4e4 }
.wpsp-social-share.position-vertical .social-share-button-text { display: none }

/* Social Sharing > Horizontal */
.wpsp-social-share.position-horizontal { margin: 0 0 40px }
.wpsp-social-share.position-horizontal li { float: left; margin: 0 5px 5px 0; border: none; }
.wpsp-social-share.position-horizontal li a { color: #999; width: auto; padding: 0 10px; height: 30px; line-height: 30px; border: 1px solid #e4e4e4; font-weight: normal; }
.wpsp-social-share.position-horizontal li .fa { margin-right: 5px }

/* Social Sharing > Minimal */
.wpsp-social-share li a { color: #999; width: 35px; height: 35px; line-height: 35px; border: 1px solid #e4e4e4; border-top: none; text-align: center; font-size: 1.077em; transition: all .15s ease-in-out; }
.wpsp-social-share li a:hover { background: #f7f7f7 }
.wpsp-social-share li.share-twitter a:hover { color: #00aced }
.wpsp-social-share li.share-facebook a:hover { color: #3b5998 }
.wpsp-social-share li.share-pinterest a:hover { color: #cb2027 }
.wpsp-social-share li.share-googleplus a:hover { color: #dd4b39 }
.wpsp-social-share li.share-linkedin a:hover { color: #4875B4 }

/* Social Sharing > Flat */
.wpsp-social-share.style-flat li li:first-child { border: none }
.wpsp-social-share.position-vertical.style-flat li:first-child { border-top: none }
.wpsp-social-share.style-flat li a { color: #fff !important; border: none !important; border-radius: 2px; }
.wpsp-social-share.style-flat li.share-twitter a { background: #00aced }
.wpsp-social-share.style-flat li.share-twitter a:hover { background: #0093cb }
.wpsp-social-share.style-flat li.share-facebook a { background: #3b5998 }
.wpsp-social-share.style-flat li.share-facebook a:hover { background: #324b80 }
.wpsp-social-share.style-flat li.share-pinterest a { background: #cb2027 }
.wpsp-social-share.style-flat li.share-pinterest a:hover { background: #ae1b21 }
.wpsp-social-share.style-flat li.share-googleplus a { background: #dd4b39 }
.wpsp-social-share.style-flat li.share-googleplus a:hover { background: #d03724 }
.wpsp-social-share.style-flat li.share-linkedin a { background: #4875B4 }
.wpsp-social-share.style-flat li.share-linkedin a:hover { background: #3e659c }
.wpsp-social-share.style-flat li { margin-bottom: 3px }

/* Social Sharing > 3D */
.wpsp-social-share.style-three-d li li:first-child { border: none }
.wpsp-social-share.position-vertical.style-three-d li:first-child { border-top: none }
.wpsp-social-share.style-three-d li a { color: #fff !important; border: none; border-bottom: 3px solid rgba(0,0,0,0.25); border-radius: 2px; }
.wpsp-social-share.style-three-d li a:active { border-bottom-color: transparent }
.wpsp-social-share.style-three-d li.share-twitter a { background: #00aced }
.wpsp-social-share.style-three-d li.share-twitter a:hover { background: #0093cb }
.wpsp-social-share.style-three-d li.share-facebook a { background: #3b5998 }
.wpsp-social-share.style-three-d li.share-facebook a:hover { background: #324b80 }
.wpsp-social-share.style-three-d li.share-pinterest a { background: #cb2027 }
.wpsp-social-share.style-three-d li.share-pinterest a:hover { background: #ae1b21 }
.wpsp-social-share.style-three-d li.share-googleplus a { background: #dd4b39 }
.wpsp-social-share.style-three-d li.share-googleplus a:hover { background: #d03724 }
.wpsp-social-share.style-three-d li.share-linkedin a { background: #4875B4 }
.wpsp-social-share.style-three-d li.share-linkedin a:hover { background: #3e659c }
.wpsp-social-share.style-three-d li { margin-bottom: 3px }

/*--------------------------------------------------------------
## Lean Modal
--------------------------------------------------------------*/
#lean_overlay { 
	position: fixed; 
	z-index: 10002; 
	top: 0px; 
	left: 0px; 
	height: 100%; 
	width: 100%; 
	background: #000; 
	display: none; 
}